<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->
<div>
  <button type="button" (click)="displayType('name')">Search/Filter by Name</button>
  <button type="button" (click)="displayType('ingredients')">Search/Filter by Ingredients</button>
  <button type="button" (click)="displayType('categories')">Search/Filter by Categories</button>
</div>
<div *ngIf="filterType == 'name'">
  <label for="">Search/Filter by Name for cocktails:</label>
  <input type="text" (keyup)="onKeyUp($event)">
  <button type="button" (click)="sortName()">Sort By Id</button>
  <ul *ngIf="cocktailList.length">
    <li *ngFor="let list of cocktailList" style="list-style: none;">
      <span>
        {{list.strDrink}}
      </span>
    </li>
  </ul>
</div>

<!-- <div>
  <label for="">Random Cocktail List:</label>
  <ul *ngIf="randomCocktailList.length">
    <li *ngFor="let list of randomCocktailList" style="list-style: none;">
    <span>
      {{list.strDrink}}
    </span></li>
  </ul>
</div> -->

<div *ngIf="filterType == 'ingredients'">
  <label for="">Search/Filter by Ingredients:</label>
  <input type="text" (keyup)="onKeyUp2($event)">
<button type="button" (click)="sortIngredients()">Sort By Id</button>
  <ul *ngIf="ingredientList.length">
    <li *ngFor="let list of ingredientList" style="list-style: none;">
      <span>
        {{list.strDrink}}
      </span>
    </li>
  </ul>
</div>

<div *ngIf="filterType == 'categories'">
  <label for="">Search/Filter by Categories:</label>
  <input type="text" (keyup)="onKeyUp3($event)">
<button type="button" (click)="sortCategories()">Sort By Id</button>
  <ul *ngIf="categoryList.length">
    <li *ngFor="let list of categoryList" style="list-style: none;">
      <span>
        {{list.strDrink}}
      </span>
    </li>
  </ul>
</div>